<div class="container">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="/list">List</a>
            </li>
            <li>
                <a routerLink="/products">Products</a>
            </li>
            <li>
                <a routerLink="/lazy">Lazy</a>
            </li>
            <li>
                <a routerLink="/secured">Secured</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>