<h2>List Component</h2>

<h3 class="text-warning">Selected: {{selectedPerson}}</h3>

<ul>
    <li *ngFor="let person of personList">
        <a href="http://www.google.com" (click)=select(person,$event)>{{person}}</a>
    </li>
</ul>

<!-- <ul>
    <li *ngFor="let person of personList">
        <a href="#" (click)=select(person)>{{person}}</a>
    </li>
</ul> -->

<!-- <ul>
    <ng-template ngFor let-person [ngForOf]=personList>
        <li>
            <a href="#">{{person}}</a>
        </li>
    </ng-template>
</ul> -->